body {
  margin: 0;
  background-color: #fffded;
}

a {
  color: #ffffff;
}

p {
  font-size: 18px;
}
.grid a {
  color: blue;
}

.switch {
  position: relative;
  display: block;
  margin: 10px 20px;
}

.switch > span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #b97849;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fffded;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #b97849;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fffded;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #b97849;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #b97849;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fffded;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}


/* header */

.header {
  background-color: #201335;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #201335;
  opacity: 90%;
  color: #fce762;
  text-align: center;
}

.header li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #fce762;
}

/* menu */

.menu-language { 
  float: right;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: absolute;
  top: 60px;
  width: 600px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 15px;
  position: relative;
  user-select: none;
  background-color: #110a1c;
}

.header .menu-icon .navicon {
  background: #fffded;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fffded;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Utilities */

.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.xxl {
  font-size: 5rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* ------------------------------------------------------------------------- */
/* Main Page */

.mainPage { 
  position: relative;
  min-height: 100vh;
}

.latvia {
  background-color: #fce762;
}

.latvia .grid {
  grid-template-columns: 3fr 4fr;
  gap: 10px;
}

.latvia img {
  height: auto;
  width: 100%;
}

/* Website text */

.latvia-text .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 130px;
}

/* About me */

.about .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 0;
  margin: 100px 0;
  padding: 0 100px
}

.about img {
  height: auto;
  width: 100%;
}


/* ------------------------------------------------------------------------- */
/* Road Page */

.roadPage {
  position: relative;
  min-height: 100vh;
}

/* Liepaja */

.liepaja .container {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.liepaja img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 40px;
}

.liepaja-text .grid { 
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 130px;
}

/* Grobina */

.grobina .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin: 10px 0;
}

.grobina img {
  height: auto;
  width: 100%;
}

.grobina-text .grid { 
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 130px;
}

/* Saldus */

.saldus { 
  background-color: #ffb17a;
}

.saldus .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin: 10px 0;
}

.saldus img {
  height: auto;
  width: 100%;
}

.saldus-text .grid { 
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 130px;
}

/* Rīga */

.riga .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin: 10px 0;
}

.riga img {
  height: auto;
  width: 100%;
}

.riga-text .grid { 
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 130px;
}

/* Tramvajs */

.tramvajs .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin: 10px 0;
}

.tramvajs img {
  height: auto;
  width: 100%;
}

.tramvajs-text .grid { 
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 130px;
}

/* Biblioteka */

.biblioteka .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin: 10px 0;
}

.biblioteka img {
  height: auto;
  width: 100%;
}

.biblioteka-text .grid { 
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 130px;
}

/* Universitate */

.universitate .grid {
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin: 10px 0;
}

.universitate img {
  height: auto;
  width: 100%;
}

.universitate-text .grid { 
  grid-template-columns: 1fr 2fr;
  height: 100%;
  gap: 50px;
  margin: 100px 0;
}


/* ------------------------------------------------------------------------- */
/* Footer */
footer {
  width: 100%;
  height: 10rem;
  background-color: #201335;
  color: white;
  }

@media (max-width: 600px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .header .menu {
    width: 100%;
  }  
}

.text .container {
  padding: 0 300px;
}

@media (max-width: 1300px) {
  .text .container {
    padding: 0 200px;
  }
}

@media (max-width: 1050px) {
  .latvia .grid {
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
  }

  .latvia .xxl {
    font-size: 4rem;
  }

  .text .container {
    padding: 0 70px;
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .latvia .grid,
  .latvia-text .grid,
  .liepaja-text .grid,
  .grobina-text .grid,
  .saldus-text .grid,
  .riga-text .grid,
  .tramvajs-text .grid,
  .biblioteka-text .grid,
  .universitate-text .grid,
  .about .grid,
  .grobina .grid,
  .saldus .grid,
  .riga .grid,
  .tramvajs .grid,
  .biblioteka .grid,  
  .universitate .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 60px;
  }

  .latvia-text .grid,
  .liepaja-text .grid,
  .grobina-text .grid,
  .saldus-text .grid,
  .riga-text .grid,
  .tramvajs-text .grid,
  .biblioteka-text .grid,
  .universitate-text .grid {
    margin: 0;
    gap: 0;
    padding-top: 20px;
  }

  .xl {
    font-size: 4rem;
  }

  .about .grid,
  .grobina .grid,
  .saldus .grid,
  .riga .grid,
  .tramvajs .grid,
  .biblioteka .grid,  
  .universitate .grid {
    gap: 0;
    padding-top: 10px;
    overflow: hidden;
  }

  .latvia .container {
    height: 90vh;
  }
  .latvia .grid {
    padding: 0;
    padding-top: 60px;
  }

  .latvia .grid {
    grid-template-rows: 1fr 3fr;
    gap: 0;
  }

  .latvia .xxl {
    font-size: 3rem;
  }

  .latvia-text .grid {
    gap: 10px;
    margin: 0;
  }

  .saldus .container {
    background-color: #fffded;
  }

  .text .container {
    padding: 0 40px;
  }

}
