body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #ffffff;
}

/* header */

.header {
  position: absolute;
  width: 600px;
  z-index: 3;
  top: 15px;
  left: 15px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000000;
  opacity: 90%;
  color: white;
  text-align: center;
}

.header li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: pink;
  font-weight: bold;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: absolute;
  top: 60px;
  width: 100%;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 15px;
  position: relative;
  user-select: none;
  background-color: #000000;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 15px;
  position: relative;
  user-select: none;
  background-color: #000000;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 48em) {
  .header {
    position: relative;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .header .menu {
    top: 60px;
  }

}